<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.rc.local</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/your_username/etc/rc.local</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/your_username.rc.local.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/your_username.rc.local.err</string>
</dict>
</plist>
