[Desktop Entry]
Version=1.0
Name=Example Application
Comment=This is an example app entry.
TryExec=/home/dgideas/example
Exec=/home/dgideas/example
Icon=ubuntu
Terminal=false
StartupWMClass=ExampleClass
Type=Application
Categories=Chat;Network;Qt;
MimeType=x-scheme-handler/tg;
Keywords=example;ex;eap;app;
X-GNOME-UsesNotifications=true
