[Unit]
Description=Just put me on /lib/systemd/system/, then systemctl enable <it>. If you want to keep application running, change Type to forking. If you want anyone run the service, using visudo and add ALL ALL=NOPASSWD: /usr/bin/systemctl.
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
WorkingDirectory=/
ExecStart=/bin/bash -c "echo foobar"

[Install]
WantedBy=multi-user.target
