[Unit]
Description=Foobar Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
WorkingDirectory=/
ExecStart=/bin/bash -c "echo foobar"

[Install]
WantedBy=multi-user.target
